@import "tailwindcss";

@theme{
--color-primaryBackdround:#0a0a0a;
--color-trusted:#251237;
--color-enterprisesolution:#141414;
--color-featuredproductsicon1:#1582b4;
--text-small:13px;

}

.active{
    color:#b773fa;
}